.Tile {
    height: 100px;
    width: 100%;
    background-color: #252526;
    border: 1px solid #101010;
    border-top: 0px;
    color: white;
    display:block;
    transition: 0.3s;
}

#SelectedTile {
    background-color: #101010;
}

.Tile:hover {
    background-color: #101010;
}
