.DatePicker {
    display: inline-block;
    width: 300px;
    height: 37px;
    background-color: #252526;
    margin-top: 40px;
    padding-top: 13px;
    border: #8c3724 1px solid;
    color: #ffffff
}

.NavButton {
    margin-top: -13px;
    padding-top: 13px;
    height: 37px;
    width: 50px;
    background-color: #101010;
}

#NavButtonLeft {
    float: left;
    border-right: #8c3724 1px solid;
}

#NavButtonLeftDisabled {
    float: left;
    background-color: #252526;
    color: #999999
}

#NavButtonRight {
    float: right;
    border-left: #8c3724 1px solid;
}
